@font-face {
    font-family: "Book20";
    src: local("SharpGroteskBook20"),
     url("../Fonts/SharpGroteskBook20.otf") format("truetype");
}

@font-face {
    font-family: "SemiBold15";
    src: local("SharpGroteskSemiBold15"),
     url("../Fonts/SharpGroteskSemiBold15.otf") format("truetype");
}

@font-face {
    font-family: "SemiBold20";
    src: local("SharpGroteskSemiBold20"),
     url("../Fonts/SharpGroteskSemiBold20.otf") format("truetype");
}

:root {
    --mainColor: #2C3440; 
    --secondaryColor: #F2EAC1; 
    --textColor1: white; 
    --textColor2: #1C2143;
    --hover: #40bcf4;  
}

.card {
    background-color: transparent; 
    margin: 1.6rem 1.6rem 1.6rem 0; 
    width: 200px; 
    height: 285px; 
    overflow: hidden; 
    transition: transform .3s ease;
    cursor: pointer; 
    border-radius: 12px; 
}

.card:hover {
    transform: scale(1.1); 
} 

.card img {
    width:  200px;
    height: auto; 
}


