@font-face {
    font-family: "Book20";
    src: local("SharpGroteskBook20"),
     url("../Fonts/SharpGroteskBook20.otf") format("truetype");
}

@font-face {
    font-family: "SemiBold15";
    src: local("SharpGroteskSemiBold15"),
     url("../Fonts/SharpGroteskSemiBold15.otf") format("truetype");
}

@font-face {
    font-family: "SemiBold20";
    src: local("SharpGroteskSemiBold20"),
     url("../Fonts/SharpGroteskSemiBold20.otf") format("truetype");
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #2C3440; 
    --secondaryColor: #F2EAC1; 
    --textColor1: white; 
    --textColor2: #1C2143;
    --hover: #40bcf4;  
}

.title {
    font-family: 'SemiBold20';
    color: white; 
    font-size: 2.2rem;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.4em; 
    text-align: center;
}

#searchBar {
    font-family: 'SemiBold15';
    font-size: 1.6rem;
    background-color: white;
    border-radius: 24px; 
    border-color: #1C2143; 
    border-width: 0.3em; 
    border-style: solid;
    width: auto; 
    display: flex; 
    height: 2.4em; 
    padding-top: 0.8em; 
    padding-bottom: 0.8em; 
    padding-left: 0.8em; 
    opacity: 70%; 
    margin-bottom: 1em;
}

#searchBar:focus {
    opacity: 100%; 
}

#searchBar:hover {
    opacity: 100%; 
}

#cardContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
}

#wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
}

#card {
    background-color: transparent; 
    margin: 1.2rem 1.2rem 0.4rem 0; 
    width: 200px; 
    height: 280px; 
    overflow: hidden; 
    transition: transform .3s ease;
    cursor: pointer; 
    border-radius: 12px; 
}

#card:hover {
    transform: scale(1.1); 
} 

#card img {
    width:  200px;
    height: auto; 
}

/* #newCerealButton {
    background: none;
    border: none; 
    color: #F2EAC1; 
    font-size: 6rem;
}

#newCerealButton:hover {
    color: #40bcf4; 
} */

#newCerealBox{
    width: auto;
    border: solid;
    background-color: #F2EAC1;
    border-radius: 32px;
    border-width: 0.6em; 
    border-color: #1C2143;
    height: fit-content;
    overflow: hidden;
}

#modalTitle {
    font-family: 'SemiBold15';
    color: #1C2143;
    background-color: #F2EAC1;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4em;

}

#modalSubtitle {
    font-family: 'Book20';
    color: #1C2143; 
    background-color: #F2EAC1;
    font-size: 1rem;
}

#modalSubmit {
    font-family: 'SemiBold15';
    font-size: 1.4rem; 
    background-color: #1C2143;
    color: white; 
    cursor: pointer;
    border-radius: 50px;
    border-color: #1C2143;
    border-width: 8px; 
    border-style: solid;
    width: 6em; 
    height: 3em; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modalSubmit:hover {
    background-color: white; 
    color: #1C2143; 
}

#login {
    background-color: #F2EAC1;
    color:#1C2143; 
    text-decoration: underline;
}

#login:hover {
    color: #40bcf4;
}

#register {
    background-color: #F2EAC1;
    color:#1C2143; 
    text-decoration: underline;
}

#register:hover {
    color: #40bcf4;
}

#modalIcon {
    background-color: #F2EAC1;
}

#modalClose {
    position: absolute; 
    top: 1rem; 
    right: 2rem; 
    border: none; 
    background-color:#F2EAC1;
    color: #1C2143; 
    font-size: 2rem;
}

#modalCloseIcon {
    background-color: #F2EAC1;
}

#modalCloseIcon:hover {
    color: #40bcf4; 
}

#suggestCerealName {
    width: 12em; 
    font-family: 'SemiBold15';
    font-size: 1.6rem;
    text-align: center;
    color: #1C2143; 
    height: 2.4em; 
    padding-top: 0.2em; 
    padding-bottom: 0.2em; 
    background-color: white;
    border-radius: 50px; 
    border: none; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#suggestManufacturer {
    width: 12em; 
    font-family: 'SemiBold15';
    font-size: 1.6rem;
    text-align: center;
    color: #1C2143; 
    height: 2.4em; 
    padding-top: 0.2em; 
    padding-bottom: 0.2em; 
    background-color: white;
    border-radius: 50px; 
    border: none; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modalSubmitMessage {
    font-size: 1.2rem;
    color: #40bcf4; 
    background-color: #F2EAC1;
}

