@font-face {
    font-family: "Book20";
    src: local("SharpGroteskBook20"),
     url("../Fonts/SharpGroteskBook20.otf") format("truetype");
}

@font-face {
    font-family: "SemiBold15";
    src: local("SharpGroteskSemiBold15"),
     url("../Fonts/SharpGroteskSemiBold15.otf") format("truetype");
}

@font-face {
    font-family: "SemiBold20";
    src: local("SharpGroteskSemiBold20"),
     url("../Fonts/SharpGroteskSemiBold20.otf") format("truetype");
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #2C3440; 
    --secondaryColor: #F2EAC1; 
    --textColor1: white; 
    --textColor2: #1C2143;
    --hover: #40bcf4;  
}

#wrapperCerealCard {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#imageContainer {
    width: 25em; 
    height: max-content; 
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    margin-top: 3.6em; 
    margin-bottom: auto; 
}

#image {
    width: 100%;  
    border-radius: 12px;
}

#infoContainer {
    width: 45em; 
    height: max-content; 
    border-color: #1C2143; 
    border-radius: 32px; 
    border-width: 0.6em; 
    border-style: solid; 
    background-color: #F2EAC1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    margin-left: 2%; 
    margin-top: 3em; 
    margin-bottom: auto;
    text-align: center;
}

#name {
    background-color: #F2EAC1;
    font-family: 'SemiBold20';
    text-align: center;
    color: #1C2143; 
    font-size: 2.1rem;
    padding-top: 2%;
    padding-left: 6%; 
    padding-right: 6%; 
    border-radius: 32px;
}

#subtitle {
    background-color: #F2EAC1;
    font-family: 'SemiBold15';
    color: #1C2143; 
    font-size: 1.6rem; 
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%; 
}

#description {
    background-color: #F2EAC1;
    font-family: 'Book20';
    color: #1C2143; 
    font-size: 1rem; 
    padding-left: 6%;
    padding-right: 6%; 
    padding-bottom: 3%; 
    align-items: center;
    justify-content: center;
}

#ingredientsLabel {
    background-color: #F2EAC1;
    font-family: 'SemiBold15';
    color: #1C2143; 
    font-size: 1.2rem; 
    padding-left: 6%;
    padding-right: 6%; 
}

#ingredients {
    background-color: #F2EAC1;
    font-family: 'Book20';
    color: #1C2143; 
    font-size: 0.8rem;
    padding-left: 6%; 
    padding-right: 6%; 
    padding-bottom: 3%; 
}

#willItKillYouLabel {
    background-color: #F2EAC1;
    font-family: 'SemiBold15';
    color: #1C2143; 
    font-size: 1.2rem; 
    padding-left: 6%;
    padding-right: 6%; 
    padding-top: 3%; 
}

#willItKillYou {
    background-color: #F2EAC1;
    font-family: 'Book20';
    color: #1C2143; 
    font-size: 0.8rem;
    padding-left: 6%; 
    padding-right: 6%; 
    padding-bottom: 3%; 
}

#ratingLabel {
    background-color: #F2EAC1;
    font-family: 'SemiBold15';
    color: #1C2143; 
    font-size: 1.2rem; 
    padding-left: 6%;
    padding-right: 6%; 
}

#rating {
    background-color: #F2EAC1;
    font-family: 'Book20';
    color: #1C2143; 
    font-size: 0.8rem;
    padding-left: 6%; 
    padding-right: 6%; 
    padding-bottom: 3%; 
}

#likeButton {
    border: none; 
    background: none; 
    color: white; 
    font-size: 2.2rem; 
    align-items: center;
}

#likeLabel {
    font-family: 'SemiBold15';
    color: white; 
    font-size: 1.8rem; 
    align-items: center;
}

#likeArea {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    margin-top: 1em; 
    margin-right: 15em;
    margin-bottom: 3em;
}

#rateLabel {
    font-family: 'SemiBold15';
    color: white; 
    font-size: 1.8rem; 
    align-items: center;
    margin-top: -4.92em;
    margin-left: 4em; 
}

#rateArea {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    margin-left: 7.4em; 
    margin-top: 0.4em;
    margin-bottom: 3em; 
}

input[type="radio"] {
    display: none; 
}

.star {
    padding-right: 0.1em; 
    font-size: 2.2rem; 
    cursor: pointer;
}

#ingredientsIcon {
    background: none;
    border: none; 
}

#killIcon {
    background: none; 
    border: none; 
}

#ratingIcon {
    background: none; 
    border: none; 
}

#nutritionLabel {
    background-color: #F2EAC1;
    font-family: 'SemiBold15';
    color: #1C2143; 
    font-size: 1.2rem; 
    padding-left: 6%;
    padding-right: 6%; 
}

#nutritionIcon {
    background: none; 
    border: none; 
}

.nutritionFacts {
    background-color: #F2EAC1;
    font-family: 'Book20';
    color: #1C2143; 
    font-size: 0.8rem;
    padding-left: 6%; 
    padding-right: 6%; 
}

#nameIcon {
    background: none; 
    border: none; 
}

#reviewsTitle {
    background-color: transparent;
    font-family: 'SemiBold15';
    color: white; 
    text-align: center;
    font-size: 2.4rem; 
    color: #1C2143; 
} 

#reviewsContainer {
    width: 70em; 
    height: max-content; 
    border: none; 
    background-color: #F2EAC1; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    margin-top: 2em; 
    margin-bottom: 1.2em; 
    border-color: #1C2143; 
    border-radius: 32px; 
    border-width: 0.6em; 
    border-style: solid; 
    padding-top: 2em; 
    padding-bottom: 3em; 
}

.reviewsBody {
    width: 30em; 
    color: #1C2143;
    font-family: 'Book20';
    background-color: white;
    border: none; 
    border-radius: 8px;
    padding: 0.8em 0.8em 0.8em 0.8em;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
}

#reviewsIcon {
    background-color: #F2EAC1;
    color: #1C2143; 
}

#reviewsButton {
    font-family: 'SemiBold15';
    font-size: 1.4rem; 
    background-color: #1C2143;
    color: white; 
    cursor: pointer;
    margin-top: 0.4em; 
    border-radius: 50px;
    border-color: #1C2143;
    border-width: 8px; 
    border-style: solid;
    width: 6em; 
    height: 3em; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#reviewsButton:hover {
    color: #1C2143; 
    background-color: white;
}

#reviewsForm {
    background-color: #F2EAC1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#everyonesReviews {
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 100px; 
}

#reviewCard {
    background-color: transparent;
    width: 85%; 
    height: auto; 
    border-radius: 12px; 
    font-size: 1rem;
    padding: 0.6em 0.8em 0 0.8em; 
}

#firstLineReviewCard1 {
    font-family: 'SemiBold15';
    color:white; 
    font-size: 1.3rem; 
}

#firstLineReviewCard2 {
    font-family: 'SemiBold15';
    color:white; 
    font-size: 1.3rem; 
    float: right; 
}

#bodyReviewCard {
    font-family: 'Book20';
    color: white; 
    font-size: 1.5rem;
}

#horizontalLine {
    color: #40bcf4; 
}

#addForm {
    visibility: visible;
}

/* #heart:hover {
    color: #C41E3A; 
} */

#leftRatingMessage {
    color: #C41E3A; 
    background-color: #F2EAC1; 
}

#buttonsArea {
    flex-direction: row;
    background-color: #F2EAC1;
}

#deleteButton {
    font-family: 'SemiBold15';
    font-size: 1.4rem; 
    background-color: #1C2143;
    color: white; 
    cursor: pointer;
    margin-top: 0.4em; 
    border-radius: 50px;
    margin-left: 0.4em; 
    border-color: #1C2143;
    border-width: 8px; 
    border-style: solid;
    width: 6em; 
    height: 3em; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#deleteButton:hover {
    color: #1C2143; 
    background-color: white;
}

#deleteIcon {
    background-color: transparent;
}

#deleteIcon:hover {
    color: #1C2143; 
    background-color: white;
}



#modalAddReviewTitle {
    font-family: 'SemiBold15';
    color: #1C2143;
    background-color: #F2EAC1;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4em;

}

#modalAddReviewSubtitle {
    font-family: 'Book20';
    color: #1C2143; 
    background-color: #F2EAC1;
    font-size: 1rem;
}

#modalAddReviewClose {
    position: absolute; 
    top: 1rem; 
    right: 2rem; 
    border: none; 
    background-color:#F2EAC1;
    color: #1C2143; 
    font-size: 2rem;
}

#modalAddReviewCloseIcon {
    background-color: #F2EAC1;
}

#modalAddReviewCloseIcon:hover {
    color: #40bcf4; 
}

#modalAddReviewIcon {
    background-color: #F2EAC1;
}

