@font-face {
    font-family: "Book20";
    src: local("SharpGroteskBook20"),
     url("../Fonts/SharpGroteskBook20.otf") format("truetype");
}

@font-face {
    font-family: "SemiBold15";
    src: local("SharpGroteskSemiBold15"),
     url("../Fonts/SharpGroteskSemiBold15.otf") format("truetype");
}

@font-face {
    font-family: "SemiBold20";
    src: local("SharpGroteskSemiBold20"),
     url("../Fonts/SharpGroteskSemiBold20.otf") format("truetype");
}

:root {
    --mainColor: #2C3440; 
    --secondaryColor: #F2EAC1; 
    --textColor1: white; 
    --textColor2: #1C2143;
    --hover: #40bcf4;  
}

.card {
    background-color: transparent; 
    margin: 1.8rem 1.8rem 1.8rem 0; 
    width: 300px; 
    height: 300px; 
    overflow: hidden; 
    border: none; 
    transition: transform .3s ease;
    cursor: pointer; 
}

.card:hover {
    transform: scale(1.1); 
} 

img {
    width:  250px;
    height: auto
}


