/* Article Description */ 
@font-face {
  font-family: "Book20";
  src: local("SharpGroteskBook20"),
   url("../Fonts/SharpGroteskBook20.otf") format("truetype");
}

/* Headers & Article Titles */ 
@font-face {
  font-family: "SemiBold15";
  src: local("SharpGroteskSemiBold15"),
   url("../Fonts/SharpGroteskSemiBold15.otf") format("truetype");
}

:root {
  --mainColor: #2C3440; 
  --secondaryColor: #F2EAC1; 
  --textColor1: white; 
  --textColor2: #1C2143;
  --hover: #40bcf4;  
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

figure {
  border-radius: 10px;
}

.BannerNButton{
  position: relative;
  width: 100%;
}

.BannerNButton .banner {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
} 

.BannerNButton .logBut{
  position: absolute;
  top: 48%;
  left: 5.5%;
  background-color: #ef0b0b00;
  color: rgb(255, 255, 255);
  font-family: "SemiBold15";
  font-size: 1vw;
  padding: 1% 2.5%;
  border-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.BannerNButton .logBut:hover {
  background-color: #bdd48b;
  box-shadow: 0px 15px 20px #a2c754;
  color: #fff;
  transform: translateY(-7px);
}

.BannerNButton .regBut{
  position: absolute;
  top: 48%;
  left: 15%;
  background-color: #ef0b0b00;
  color: rgb(255, 255, 255);
  font-family: "SemiBold15";
  font-size: 1vw;
  padding: 1% 2%;
  border-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.BannerNButton .regBut:hover {
  background-color: #8cbfaf;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

h1 {
  color: white;
  font-family: "SemiBold15";
  font-size: 1rem;
  padding-top: 5%;
  text-align: center;
  background-color: transparent;
}

  .article-wrapper {
    width: 400px;
    margin-bottom: 40px;
    padding: 20px;
    height: 360px; 
    background-color: #F2EAC1;
    border-color: #1C2143;
    border-radius: 32px;
    border-style: solid;
    border-width: 0.6em; 
  }
  
  .article-wrapper h2 {
    color: #1C2143;
    text-align: center;
    background-color: #F2EAC1;
    font-family: "SemiBold15";
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  
  .article-wrapper p {
    color: #1C2143;
    background-color: #F2EAC1;
    text-align: center;
    font-family: "Book20";
    margin-top: 1.1em;
    font-size: 1rem;
    border: none; 
  }

  .article-wrapper p:hover {
    color: #40bcf4; 
  }
  
  .article-wrapper img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
.read-more {
    font-family: 'SemiBold15';
    background-color: #F2EAC1;
    text-align: center;
    display: inline-block;
    font-family: "Book20";
    font-size: 1.2rem;
    text-decoration: none;
    color: #1C2143;
    position: relative;
}
  
.read-more:hover {
  color: #40bcf4;
}
  
.article-body {
  background-color: #F2EAC1;
}

#homeImage {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100vh;
  margin: auto; 
  display: flex; 
  background-color: transparent;
}

#homeSubtitle {
  font-family: 'SemiBold20'; 
  color: white; 
  display: flex; 
  flex-wrap: nowrap;
  font-size: 5vw;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../Images/home.png');
  background-size: 100% 100%; 
  width: 100%; 
  height: 10em;
}

#homeDescription {
  font-family: 'Book20'; 
  color: white; 
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  height: 100%; 
  width: 100%; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px; 
}

#homeContainer {
  position: relative;
  text-align: center;
  color: white;
  flex-wrap: nowrap;
  flex-direction: column;
}

#cerealOfTheDayTitle {
  font-family: 'SemiBold15';
  color: #1C2143; 
  font-size: 2rem;
  background-color: #F2EAC1;
}

#cerealOfTheDay:hover {
  color: #40bcf4; 
}

#cerealOfTheDay {
  font-family: 'Book20';
  color: #1C2143; 
  font-size: 1rem;
  background-color: #F2EAC1;
}

#currentTop5Title {
  font-family: 'SemiBold15';
  color: #1C2143; 
  font-size: 2rem;
  background-color: #F2EAC1;
  padding-bottom: 50%;
}

.numberedList {
  font-family: 'Book20'; 
  color: #1C2143; 
  font-size: 1rem; 
  background-color: #F2EAC1;
}


