/* Style the tab */

/*This is for the whole tab box*/
.TabBox {
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(244, 220, 175);
    max-width: 1200px;
    padding: 20px;
    border-radius: 5px;
    border-width: 5px;
}

/*For the tab text area*/
.tab-content{
    border-radius: 5px;
    border:solid;
}

.tab-content>.active {
    display: block;
    border-radius: 5px;
    border: solid;
}

/*For the Favorites tab */
.Favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 5px;
    border: solid;
    color: whitesmoke;
    padding-bottom: 100px;
}

/*For the entire section with the tabs in it*/
ul.nav.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border: none;
    background-color: rgb(244, 220, 175);
    transition: none;
}

/*For the tab borders*/
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*For the account info section at the top*/
.Info {
    width: 50%;
    max-width: 900px;
    margin: auto;
    margin-top: 130px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: rgba(127, 255, 212, 0);
    border: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color:rgb(244, 220, 175);
    display: flex;
    flex-direction: column;
}

.Info .InfoText{
    color:rgb(255, 255, 255);
    position: relative;
    text-align: center;
    padding-top:30px;
    font-size:x-large;
    padding-bottom: 10px;
}

.Info .EditUser{
    position: relative;
  top:50%;
  left:40%;
  background-color: #ef0b0b00;
  color: rgb(255, 255, 255);
  font-family: "SemiBold15";
  font-size: 1vw;
  padding: 1% 2.5%;
  border-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 40px;
  max-width: 85%;
  max-height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.Info .EditUser:hover{
    background-color: #f89521;
    box-shadow: 0px 15px 20px #f89521;
    color: #fff;
    transform: translateY(-7px);
}

.Info .RecoveryEmail{
    position: relative;
  top:50%;
  left:40%;
  background-color: #ef0b0b00;
  color: rgb(255, 255, 255);
  font-family: "SemiBold15";
  font-size: 1vw;
  padding: 1% 2.5%;
  border-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 40px;
  max-width: 85%;
  max-height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  padding-bottom: 50px;
  margin-top: 5px;
}

.Info .RecoveryEmail:hover{
    background-color: #764ca2;
    box-shadow: 0px 15px 20px #764ca2;
    color: #fff;
    transform: translateY(-7px);
}

.Info .DeleteAcc{
    position: relative;
  top:50%;
  left:40%;
  background-color: #ef0b0b;
  color: rgb(255, 255, 255);
  font-family: "SemiBold15";
  font-size: 1vw;
  padding: 1% 2.5%;
  border-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 40px;
  max-width: 85%;
  max-height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  padding-bottom: 50px;
  margin-top: 5px;
}

.Info .DeleteAcc:hover{
    background-color: #ef0b0b;
    box-shadow: 0px 15px 20px #000000;
    color: #fff;
    transform: translateY(-7px);
}


/*For the text areas of the second two tabs*/
.textArea {
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #2C3440;
    text-align: center;
    color: whitesmoke;
    max-height: 100px;
    padding-bottom: 100px;
}

/*For the Reviews tab*/
.Reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #2C3440;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 30px;
}

/*To set the tab borders to none from default*/
li.nav-item {
    border-radius: 5px;
    border: none;
    color:rgb(244, 220, 175);
}

/*To set bottom of tabs to rounded when selected instead of flat bottom*/
.nav-link{
    border-radius: 5px;
    color:rgb(244, 220, 175);
}

/*#cardContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
}*/

#reviewCardPage{
    border: solid;
    border-radius: 5px;
    border-width: 4px;
    color:beige;
    /* this was needed from cerealCard css, there was overlap */
    background-color: transparent;
    width: 85%; 
    height: auto; 
    font-size: 1rem;
    padding: 0.6em 0.8em 0 0.8em; 
}