/* Style the tab */

/*This is for the whole tab box*/
.TabBox {
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    background-color: #F2EAC1;
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px; 
    padding-bottom: 70px; 
    padding-top: 20px; 
    border: solid;
    border-radius: 32px;
    border-width: 0.6em;
    border-color: #1C2143;
}

/*For the tab text area*/
.tab-content{
    border-radius: 12px;
    border: solid;
    border-color: transparent;
}

.tab-content>.active {
    display: block;
    border: none;
}

/*For the Favorites tab */
.Favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    border: solid;
    color: transparent;
    padding-top: 20px; 
    padding-bottom: 35px; 
}

/*For the entire section with the tabs in it*/
ul.nav.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border: none;
    background-color: #F2EAC1;
    padding-bottom: 20px;
}

/*For the tab borders*/
.nav-tabs .nav-link {
    border: none;
    border-radius: 12px; 
    border-color: #1C2143; 
    border-width: 0.6em;
    color: white;  
}

/*For the account info section at the top*/
.Info {
    margin: auto;
    margin-top: 3em; 
    align-items: center;
    background: none;
    border: none; 
    display: flex;
    flex-direction: column;
}

.Info .InfoText{
    background-color: transparent;
    font-family: 'SemiBold20';
    color: white;
    font-size: 2.2rem;
    margin-bottom: 1em; 
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    text-align: center;
}

.Info .EditUser{
    position: relative;
  top:50%;
  background-color: #ef0b0b00;
  color: #1C2143;
  font-family: "SemiBold15";
  font-size: 1vw;
  padding: 1% 2.5%;
  border-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.Info .EditUser:hover{
    background-color: #f89521;
    box-shadow: 0px 15px 20px #f89521;
    color: #fff;
    transform: translateY(-5px);
}

.Info .RecoveryEmail{
    position: relative;
  top:50%;
  background-color: #ef0b0b00;
  color: #1C2143;
  font-family: "SemiBold15";
  font-size: 1vw;
  padding: 1% 2.5%;
  border-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin-top: 5px;
}

.Info .RecoveryEmail:hover{
    background-color: #764ca2;
    box-shadow: 0px 15px 20px #764ca2;
    color: #fff;
    transform: translateY(-5px);
}

.Info .DeleteAcc{
    position: relative;
  top:50%;
  background-color: #ef0b0b;
  color: rgb(255, 255, 255);
  font-family: "SemiBold15";
  font-size: 1vw;
  padding: 1% 2.5%;
  border-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin-top: 5px;
}

.Info .DeleteAcc:hover{
    background-color: #ef0b0b;
    box-shadow: 0px 15px 20px #000000;
    color: #fff;
    transform: translateY(-5px);
}

/*For the text areas of the second two tabs*/
.textArea {
    background-color: #2C3440;
    text-align: center;
    padding-top: 40px; 
}

/*For the Reviews tab*/
.Reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 5px;
    background-color: #2C3440;
    text-align: left;
    color: transparent;
    padding-top: 30px; 
    padding-bottom: 35px;
}

/* To set the tab borders to none from default */
li.nav-item {
    border-radius: 12px;
    border: none;
    background-color:#1C2143; 
    color: white; 
    font-family: 'SemiBold15';
    font-size: 1.4rem; 
    margin: auto; 
}

/*To set bottom of tabs to rounded when selected instead of flat bottom*/
.nav-link {
    border-radius: 12px;
}

#reviewCardPage{
    background-color: transparent;
    width: 85%; 
    height: auto; 
    font-size: 1rem;
    padding: 0.6em 0.8em 0 0.8em;
}

#profileReviewTitle {
    color: white; 
    font-family: 'SemiBold15';
}

#profileReviewTitle:hover{
    color: #40bcf4; 
}

#horizontalLine {
    color: #40bcf4; 
}

.profileLabels {
    color: white; 
    font-size: 1.4rem; 
    font-family: "Book20";
}

#saveProfileButton {
    font-family: 'SemiBold15';
    font-size: 1.4rem; 
    padding-top: 0.1em; 
    padding-bottom: 0.1em; 
    padding-right: 0.1em; 
    padding-left: 0.1em; 
    background-color: #1C2143;
    color: white; 
    cursor: pointer;
    border-radius: 50px;
    border-color: #1C2143;
    border-width: 8px; 
    border-style: solid;
    width: 6.6em; 
    height: 3em; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px; 
    margin-bottom: 30px; 
}

#saveProfileButton:hover {
    background-color: white;
    color: #1C2143; 
}

#deleteProfileButton {
    font-family: 'SemiBold15';
    font-size: 1.4rem; 
    padding-top: 0.2em; 
    padding-bottom: 0.2em; 
    padding-right: 0.2em; 
    padding-left: 0.2em; 
    background-color: #1C2143;
    color: white; 
    cursor: pointer;
    border-radius: 50px;
    border-color: #1C2143;
    border-width: 8px; 
    border-style: solid;
    width: 7.2em; 
    height: 3em; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px; 
    margin-bottom: 40px; 
    margin-left: 10px; 
}

#deleteProfileButton:hover {
    background-color: white;
    color: #1C2143; 
}

.profileInput {
    width: 20em; 
    font-family: 'SemiBold15';
    font-size: 1.4rem;
    text-align: center;
    color: #1C2143; 
    height: 2em; 
    padding-top: 0.2em; 
    padding-bottom: 0.2em; 
    background-color: white;
    border-radius: 50px; 
    border: none; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#editResult {
    color: #C41E3A;
}

#profileDateAdded {
    float:right; 
    font-family: 'SemiBold15'; 
    font-size: 1.2rem;
}

#profileReviewInfo {
    font-family: 'SemiBold15';
    font-size: 1.2rem; 
}

#bodyReviewCard {
    font-size:1.4rem; 
}