/* Style the tab */

/*This is for the whole tab box*/
.TabBox {
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(244, 220, 175);
    max-width: 1200px;
    padding: 20px;
    border-radius: 5px;
    border-width: 5px;
}

/*For the tab text area*/
.tab-content{
    border-radius: 5px;
    border:solid;
}

.tab-content>.active {
    display: block;
    border-radius: 5px;
    border: solid;
}

/*For the Favorites tab */
.Favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 5px;
    border: solid;
    color: whitesmoke;
    padding-bottom: 100px;
}

/*For the entire section with the tabs in it*/
ul.nav.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border: none;
    background-color: rgb(244, 220, 175);
    transition: none;
}

/*For the tab borders*/
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*For the account info section at the top*/
.Info {
    width: 50%;
    max-width: 900px;
    margin: auto;
    margin-top: 130px;
    padding-bottom: 150px;
    padding-right: 300px;
    background-color: rgba(127, 255, 212, 0);
    border: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color:rgb(244, 220, 175);
    display: flex;
    flex-direction: column;
}

.Info .InfoText{
    color:rgb(255, 255, 255);
    position: relative;
    text-align: end;
    padding-top:30px;
    font-size:x-large;
}

/*For the text areas of the second two tabs*/
.textArea {
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #2C3440;
    text-align: center;
    color: whitesmoke;
    max-height: 100px;
    padding-bottom: 100px;
}

/*For the Reviews tab*/
.Reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #2C3440;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 30px;
}

/*To set the tab borders to none from default*/
li.nav-item {
    border-radius: 5px;
    border: none;
    color:rgb(244, 220, 175);
}

/*To set bottom of tabs to rounded when selected instead of flat bottom*/
.nav-link{
    border-radius: 5px;
    color:rgb(244, 220, 175);
}

/*#cardContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
}*/

#reviewCard{
    border: solid;
    border-radius: 5px;
    border-width: 4px;
    color:beige;
}
